<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bakery.application.mapper.OrderDtlMapper" >
  <resultMap id="BaseResultMap" type="com.bakery.application.entity.OrderDtl" >
    <id column="ORDER_DTL_ID" property="orderDtlId" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PDT_ID" property="pdtId" jdbcType="VARCHAR" />
    <result column="PDT_NAME" property="pdtName" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="VARCHAR" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="DONE_TIME" property="doneTime" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_DTL_ID, ID, ORDER_ID, PDT_ID, PDT_NAME, UNIT_PRICE, TOTAL_PRICE, USER_NAME, 
    USER_ID, DONE_TIME, STATUS, CREATE_TIME, UPDATE_TIME, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bakery.application.entity.OrderDtlCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bky_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bky_order_dtl
    where ORDER_DTL_ID = #{orderDtlId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bky_order_dtl
    where ORDER_DTL_ID = #{orderDtlId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bakery.application.entity.OrderDtlCriteria" >
    delete from bky_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bakery.application.entity.OrderDtl" >
    insert into bky_order_dtl (ORDER_DTL_ID, ID, ORDER_ID, 
      PDT_ID, PDT_NAME, UNIT_PRICE, 
      TOTAL_PRICE, USER_NAME, USER_ID, 
      DONE_TIME, STATUS, CREATE_TIME, 
      UPDATE_TIME, REMARK)
    values (#{orderDtlId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, 
      #{pdtId,jdbcType=VARCHAR}, #{pdtName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{doneTime,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bakery.application.entity.OrderDtl" >
    insert into bky_order_dtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderDtlId != null" >
        ORDER_DTL_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="pdtId != null" >
        PDT_ID,
      </if>
      <if test="pdtName != null" >
        PDT_NAME,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="doneTime != null" >
        DONE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderDtlId != null" >
        #{orderDtlId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="pdtId != null" >
        #{pdtId,jdbcType=VARCHAR},
      </if>
      <if test="pdtName != null" >
        #{pdtName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="doneTime != null" >
        #{doneTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bakery.application.entity.OrderDtlCriteria" resultType="java.lang.Integer" >
    select count(*) from bky_order_dtl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bky_order_dtl
    <set >
      <if test="record.orderDtlId != null" >
        ORDER_DTL_ID = #{record.orderDtlId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.pdtId != null" >
        PDT_ID = #{record.pdtId,jdbcType=VARCHAR},
      </if>
      <if test="record.pdtName != null" >
        PDT_NAME = #{record.pdtName,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null" >
        UNIT_PRICE = #{record.unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPrice != null" >
        TOTAL_PRICE = #{record.totalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.doneTime != null" >
        DONE_TIME = #{record.doneTime,jdbcType=DATE},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bky_order_dtl
    set ORDER_DTL_ID = #{record.orderDtlId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      PDT_ID = #{record.pdtId,jdbcType=VARCHAR},
      PDT_NAME = #{record.pdtName,jdbcType=VARCHAR},
      UNIT_PRICE = #{record.unitPrice,jdbcType=VARCHAR},
      TOTAL_PRICE = #{record.totalPrice,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      DONE_TIME = #{record.doneTime,jdbcType=DATE},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bakery.application.entity.OrderDtl" >
    update bky_order_dtl
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="pdtId != null" >
        PDT_ID = #{pdtId,jdbcType=VARCHAR},
      </if>
      <if test="pdtName != null" >
        PDT_NAME = #{pdtName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="doneTime != null" >
        DONE_TIME = #{doneTime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_DTL_ID = #{orderDtlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bakery.application.entity.OrderDtl" >
    update bky_order_dtl
    set ID = #{id,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      PDT_ID = #{pdtId,jdbcType=VARCHAR},
      PDT_NAME = #{pdtName,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=VARCHAR},
      TOTAL_PRICE = #{totalPrice,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      DONE_TIME = #{doneTime,jdbcType=DATE},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ORDER_DTL_ID = #{orderDtlId,jdbcType=VARCHAR}
  </update>
</mapper>