* {
    margin: 0;
    padding: 0;
}

.nav>li {
    line-height: 32px;
    border: 1px solid #414040;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-indent: 1em;
    /*两个字的间隙*/
    position: relative;
}

.nav{
    margin-top: 0px;
    list-style: none;
    width: 185px;
    font-size: 16px;
    color: white;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.nav>li:last-child {
    border-bottom: 1px solid #414040;
}
.sub>li {
    list-style: none;
    text-indent: 5em;
}

.sub>li:hover {
    background-color: darkgray;
}

.sub {
    display: none;
}

.nav>li>.right {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    right: 15px;
    top: 4px
}
.img {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    left: 0px;
    line-height: 28px;
}

.bg {
    background-color: #5f5e5e;
}
.circle{
    margin-left: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: black;
    position: relative;
    margin-top: 0px;
}
.picture{
    color: white;
    font-family:"franklin gothic medium cond";
    text-align: center;
    position: absolute;
    top: 5px;
    left: 27px;
}
