<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bakery.application.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.bakery.application.entity.Dictionary" >
    <id column="DICT_ID" property="dictId" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DICT_ID, ID, DICT_CODE, DICT_NAME, STATUS, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bakery.application.entity.DictionaryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bky_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bky_dictionary
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bky_dictionary
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bakery.application.entity.DictionaryCriteria" >
    delete from bky_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bakery.application.entity.Dictionary" >
    insert into bky_dictionary (DICT_ID, ID, DICT_CODE, 
      DICT_NAME, STATUS, REMARK
      )
    values (#{dictId,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{dictCode,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bakery.application.entity.Dictionary" >
    insert into bky_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        DICT_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="dictCode != null" >
        DICT_CODE,
      </if>
      <if test="dictName != null" >
        DICT_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bakery.application.entity.DictionaryCriteria" resultType="java.lang.Integer" >
    select count(*) from bky_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bky_dictionary
    <set >
      <if test="record.dictId != null" >
        DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dictCode != null" >
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null" >
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bky_dictionary
    set DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=INTEGER},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bakery.application.entity.Dictionary" >
    update bky_dictionary
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="dictCode != null" >
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bakery.application.entity.Dictionary" >
    update bky_dictionary
    set ID = #{id,jdbcType=INTEGER},
      DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where DICT_ID = #{dictId,jdbcType=VARCHAR}
  </update>
</mapper>